<!--

<link href="dist/photoswipe.css?v=4.1.1-1.0.4" rel="stylesheet" />
<link href="dist/default-skin/default-skin.css?v=4.1.1-1.0.4" rel="stylesheet" />

<script src="dist/photoswipe.min.js?v=4.1.1-1.0.4"></script>
<script src="dist/photoswipe-ui-default.min.js?v=4.1.1-1.0.4"></script>

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" /> -->




<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ page_description }}">
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.meta_keywords }}{% endif %}">

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico?">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<title>{{ site.title }}</title>

<link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/album/">





<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>