.bg-black {
    background:#000!important;
}
.img-author {
    max-height: 300px;
    border:3px solid #fff;
}
.intro {
    background:#000;
    color:#fff;
}
.intro-pic {
    height:350px;
    background-image: url("../images/hotfire_narrow.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.btn-intro {
    color:#fff;
    background-color:#9d0208;
    border-color:#e85d04;
}
.btn-intro:hover {
    color:#d3d3d3;
    background: #6a040f;
}
.projects-heading {
    text-align: center;
    font-style: italic;
}
.projects-heading:before {
  content: "";
  display: inline-block;
  border: 1px solid #000;
  width: 40px;
  margin: 11px 20px;
}
.projects-heading:after {
  content: "";
  display: inline-block;
  border: 1px solid #000;
  width: 40px;
  margin: 11px 20px;
}
.card-subheading {
    color:#9d0208;
    font-weight: bolder;
}
.bg-med {
    background-color: #f3f3f3!important;
}
.text-red {
    color: #9d0208;
}