.project {
  h2 {
    text-align: center;
  }
  h3 {
    margin-top: 2em;
  }
  p {
    margin-top: 0.5em;
  }
  .screenshot {
    max-width: 20em;
    max-height: 15em;
    margin-right: 1em;
  }
}

.my-gallery { 
  figure {
    display: inline-block;
  }
  figcaption {
    display: none;
  }
}

.title-image {
  width: 900px;
  margin: 0 auto 0 auto;
}

.toc {
  width: 235px;
  margin: 10px auto 10px auto;
}

h3 {
  text-align: center;
}

.link-highlight, .link-highlight:hover {
  color: #D62828;
}