.project {
  h2 {
    text-align: center;
  }
  h3 {
    margin-top: 2em;
  }
  p {
    margin-top: 0.5em;
  }
  .screenshot {
    max-width: 20em;
    max-height: 15em;
    margin-right: 1em;
  }
}

.my-gallery { 
  figure {
    display: inline-block;
  }
  figcaption {
    display: none;
  }
}